@charset "utf-8";
@import url("default.css");	/* Base Style CSS */		
@import url("bootstrap.min.css");	/* Design Layout css */
@import url("bootstrap-theme.min.css");	/* Design Layout css */
@import url("dataTables.bootstrap.min.css");	/* Design Layout css */
@import url("dataTables.responsive.css");	/* Design Layout css */
@import url("layout.css");	/* Design Layout css */
@import url("component.css");	/* Component Style CSS */		
@import url("table_default.css");	/* Table Style CSS */		
@import url("filpout_cards.css");	/* FilpOut Style CSS */		
/* @import url("content.css"); */
