
body{background:#cfc4b0;}
h1,h2,h3,h4,h5,
ul,li,ol,dl,dt,dd,
div,p{margin:0;padding:0;}
table{}
ul,ol{list-style:none;}
.nav>li>a{color:#fff;}
.nav>li>a:hover{background:#9e8a66;}
.open>a{background:#9e8a66! important;}
.clear-left-padding{padding-left:0;}
#wrapper{position:relative;}
span.red-color{color:#fff;}
p{margin:10px 0 20px;}
caption{display:none;}
.nav-tabs>li>a{color:#23527c;}

/*top*/
h1.logo a.navbar-brand{padding:5px 15px;}
.navbar-static-top{background-color:#442c02;background-image:url('../img/bg_paper.png');border-bottom:2px solid #7a706e;}
.no-atag{padding:15px;}
.navbar-top-links{margin-right:0;}
.navbar-top-links li{display:inline-block;}
.navbar-top-links li a {padding:15px;}
.navbar-top-links li:last-child{margin-right:15px;}
.navbar-top-links .dropdown-menu li{display:block;border-bottom:1px solid #e5e5e5;}
.navbar-top-links .dropdown-menu li:last-child{margin-right:0;border-bottom:none;}
.navbar-default .navbar-toggle .icon-bar{background-color:#fff;}

/*nav*/
.sidebar{position:relative;background:#cfc4b0;}
.sidebar ul li{border-bottom:1px solid #e7e7e7;}
.sidebar ul li a{color:#442c02;}
.sidebar ul{margin:0;padding:0;list-style:none;}
.sidebar ul li ul{margin:0;padding:0;list-style:none;}
.sidebar ul li ul li{padding:0 15px 10px 25px;border-bottom:none;}

/*공지사항*/
.panel-brown{border:1px solid #a99c85;}
.panel-brown .panel-heading{background:#cfc4b0;}
.notic_box{background:#fff;}
.notic_box ul {}
.notic_box ul li {padding:5px 0 5px;border-top:1px solid #e7e7e7;}
.notic_box ul li:first-child{border-top:none;}
.notic_box ul a {color:#4e3a26;}
.notic_box ul li span{width:100%;display:block;margin-top:5px;}

/*container*/
#page-wrapper{padding:15px;border-left:1px solid #e7e7e7;background:#faf8ef;}
h4.title{font-weight:bold;padding:10px 0 20px;}


/*footer*/
footer{padding:30px 0;text-align:center;background:#fff;border-top:1px solid #e7e7e7;}


/*로그인*/
body.login { 
	background: -webkit-linear-gradient(-45deg,rgba(112,255,245, .8), rgba(255,209,148, .8)) fixed,url(../img/login_bg2.jpg) fixed; /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(-45deg, rgba(112,255,245, .8), rgba(255,209,148, .8)) fixed,url(../img/login_bg2.jpg) fixed; /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	background-size: cover;
}
.account-wall{margin:10% 0;padding:50px 20px;background-color:rgba(255,255,255, 0.5);text-align:center;}
p.text{padding:10px 0 20px;text-align:left;color:#936a34;}


/*table*/
.dataTables_length,.dataTables_filter,.dataTables_info,.paging_simple_numbers,.dataTables_paginate{display:none;}
.tab_gnb{margin-bottom:20px;}



.board-view{padding:0 15px;}
.board-view ul{margin-bottom:15px;}
.board-view ul li{}
.board-view ul li dl.first-line{border-top:1px solid #ddd;}
.board-view ul li dl{background:#f5f5f5;border-bottom:1px solid #ddd;}
.board-view ul li dl dd{padding:10px 15px;background:#fff;}
.board-view ul li dl dt{padding:10px 15px;}


/* 달력 */
.fc .fc-row{margin-right:0! important;padding:5px 0;}
.fc th{padding:10px 0;background:#fff;}
.fc .fc-row{background:#fff;padding:0;}
.fc-row table{margin:0;border:none;}
.fc-widget-content .fc-scroller{height:auto! important;}

@media(min-width:768px){
	.sidebar{z-index:1;position:absolute;width:250px;margin-top:53px;}
	#page-wrapper{min-height:568px;position:inherit;margin:0 0 0 250px;padding:30px;}
	.notic_box{display:block;}
	.account-wall{margin-top:30%;padding:50px 20px;background-color:rgba(255,255,255, 0.5);text-align:center;}
}


/* tree 구조 */
.tree, .tree ul {
    margin:0;
    padding:0;
    list-style:none
}
.tree ul {
    margin-left:1em;
    position:relative
}
.tree ul ul {
    margin-left:.5em
}
.tree ul:before {
    content:"";
    display:block;
    width:0;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    border-left:1px solid
}
.tree li {
    margin:0;
    padding:0 1em;
    line-height:2em;
    color:#369;
    font-weight:700;
    position:relative
}
.tree ul li:before {
    content:"";
    display:block;
    width:10px;
    height:0;
    border-top:1px solid;
    margin-top:-1px;
    position:absolute;
    top:1em;
    left:0
}
.tree ul li:last-child:before {
    background:#fff;
    height:auto;
    top:1em;
    bottom:0
}
.indicator {
    margin-right:5px;
}
.tree li a {
    text-decoration: none;
    color:#369;
}
.tree li button, .tree li button:active, .tree li button:focus {
    text-decoration: none;
    color:#369;
    border:none;
    background:transparent;
    margin:0px 0px 0px 0px;
    padding:0px 0px 0px 0px;
    outline: 0;
}

@media(max-width:767px){
	.navbar-top-links{position:absolute;display:inline-block;top:0px;right:50px;}
}


@media(min-height:720px){
	#page-wrapper{min-height:690px;}
}

@media(min-height:900px){
	#page-wrapper{min-height:870px;}
}

@media(min-height:1080px){
	#page-wrapper{min-height:980px;}
}